<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a New Post</title>
  </head>
  <body>
    <form action="/posts" method="POST" enctype="multipart/form-data">
      <textarea name="content" placeholder="What's on your mind?..."></textarea>
      <input type="file" id="image" name="image" accept="image/*" />
      <button type="submit">Create Post</button>
    </form>
    <a href="/">Back to Home</a>
  </body>
</html>
