<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Followers</title>
  </head>
  <body>
    <h1>Followers</h1>
    <ul>
      <% followers.forEach(follower => { %>
      <li><%= follower.username %> (<%= follower.email %>)</li>
      <% }) %>
    </ul>
    <a href="/users/<%= userId %>">Back to Profile</a>
  </body>
</html>
