<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <% if (user) { %>
    <p>Welcome, <%= user.username %></p>
    <a href="/users/<%= user.id %>">My Profile</a>
    <a href="/explore">Explore</a>
    <a href="/auth/signout">Sign Out</a>
    <% } else { %>
    <a href="/signup">Sign Up</a>
    <a href="/signin">Sign In</a>
    <% } %>
  </body>
</html>
