<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Likes</title>
  </head>
  <body>
    <h1>Likes</h1>
    <ul>
      <% likes.forEach((like) => { %>
      <div class="user">
        <a href="/users/<%= like.user.id %>"><%= like.user.username %></a>
      </div>
      <% }); %>
    </ul>
    <a href="/posts/<%= postId %>">Back to Post</a>
  </body>
</html>
